<header class="header">
  <%= image_tag "Twitter-Logo-2005.png" %>
  <nav>
    <ul class="top_menu">
      <%= link_to "投稿",new_clone_path %>
      <%= link_to "一覧",clones_path %>
    </ul>
  </nav>
</header>
